<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="consoleLogger" class="swt6.spring.basics.ioc.util.ConsoleLogger">
		<property name="prefix" value="info"></property>
	</bean>

	<bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger"
		destroy-method="close">
		<constructor-arg index="0" value="" />
	</bean>

	<!-- setter injection -->
	<bean id="workLog-setter-injected" class="swt6.spring.basics.ioc.logic.WorkLogImplXMLConfigBased">
		<property name="logger" ref="consoleLogger"></property>
	</bean>

	<!-- inner bean -->
<!-- 	<bean id="worklog-inner-bean" class="swt6.spring.basics.ioc.logic.WorkLogImplXMLConfigBased"> -->
<!-- 		<property name="logger"> -->
<!-- 			<bean id="fileLogger" class="swt6.spring.basics.ioc.util.FileLogger" -->
<!-- 				destroy-method="close"> -->
<!-- 				<constructor-arg index="0" value="" /> -->
<!-- 			</bean> -->
<!-- 		</property> -->
<!-- 	</bean> -->

	<!-- constructor injection -->
	<bean id="workLog-constructor-injected" class="swt6.spring.basics.ioc.logic.WorkLogImplXMLConfigBased">
		<constructor-arg index="0" ref="consoleLogger" />
	</bean>
</beans>
